<!DOCTYPE html>
<html>
  <head>
    <title>GetRecd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GetRecd</h1>
    <ul>
      <$ if (user) { $>
        <li><a href="/logout">Log Out</a></li>
      <$ } else { $>
        <li><a href="/auth/google">Login with Google</a></li>
        <$ } $>
    </ul>
  </body>
</html>
