<%- include('./_partials/header') %>
    <h1>Get Recd</h1>
    
        <div class="masonry-css">

            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" src="https://img.discogs.com/UvmQIltN6l-2dqr4zgRINp1_Bl4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-1905744-1251515280.jpeg.jpg"> </div>
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/GIO5ROJW9BeZs73eq3WJrSbXEzE=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-125246-1501285200-3058.jpeg.jpg">
            </div>
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/IqwDPIHgZDCAv2A7Hte8Fp-piWE=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-10506740-1498855436-6846.jpeg.jpg">
            </div>     
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/VCwzM8rLr2OhOjQkA0-THokRz7w=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-1039451-1440145365-5195.jpeg.jpg">
            </div>
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img data-src="https://img.discogs.com/fBk6gMPHYA_vSzj4Pl8XVtt6iWE=/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-5314192-1439918214-6291.jpeg.jpg" src="https://img.discogs.com/fBk6gMPHYA_vSzj4Pl8XVtt6iWE=/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-5314192-1439918214-6291.jpeg.jpg" alt="BB King's Greatest Hits">
            </div>
                
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img  src="https://img.discogs.com/7fRw6a2iVcuyxiLLI1hEtu5PFkI=/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-2426927-1406895562-9911.jpeg.jpg"  alt="A Salt With A Deadly Pepa">
            </div>
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/xr3iFOxgDmbpq6VsQ0gHMqiPOmg=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-6072065-1410326551-4729.jpeg.jpg">
            </div>
              
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/mlqIlDlA2jWMmeRX1xn_CA4ecqM=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-7622270-1445350334-4918.jpeg.jpg">
            </div>

            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/S2sYmIbP9HZKqyQSLFocWjbdbF4=/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-1187114-1298885329.jpeg.jpg" src="https://img.discogs.com/S2sYmIbP9HZKqyQSLFocWjbdbF4=/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-1187114-1298885329.jpeg.jpg" alt="The Best Of Stan Getz">
            </div>
            
            <div class="masonry-css-item"><img alt="" class="" height="300" width="300" <img src="https://img.discogs.com/csNXr6b7HQTgUSv4yhqt0FAL4yg=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-6174151-1412925862-2210.jpeg.jpg">
            </div>
            
        </div>
       
  </body>
</html>
