
/* *{
border: 1px solid red;
}*/

.col2 {
border-left: 1px solid black;
/*padding: 1%;
margin-left: 4%;*/
}

.wrapper {
border-left: solid 1 px black;
}

h1 {
text-align: center;
font-family: 'Allerta Stencil', sans-serif;
font-variant: small-caps;
}

#col1, #col2, #col3 {
text-align: center;
}

.toprec {
border: 1px solid black;
margin-top: 30%;
width: 120%;
}

h3{
font-family: 'Allerta Stencil', sans-serif;
font-variant: small-caps;
text-align: center;
}

table {
font-size: smaller;
}

nav {
background-color: black;
}

.top-bar, .linav {
background-color: black;
color: white;
}

.butstyle {
color: black;
background-color: white;
border-radius: 7px;
}

input {
height: 31px !important;
}


#logo {
font-family: 'Allerta Stencil', sans-serif;
font-variant: small-caps;
letter-spacing: 5px;
}


.masonry-css {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 1rem;
-moz-column-gap: 1rem;
column-gap: 1rem;
}

@media screen and (min-width: 25em) {
.masonry-css {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
}

@media screen and (min-width: 37.5em) {
.masonry-css {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}

@media screen and (min-width: 50em) {
.masonry-css {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
}

@media screen and (min-width: 68.75em) {
.masonry-css {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
}
}

.masonry-css-item {
-webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
margin-bottom: 1rem;
}

.songinput {
width: 30%;
margin-left: 34%;
}

#indexsrch {
margin-left: 45%;
border: solid 1px rgba(0,0,0,.2);
border-radius: 20px
}

.addform {
margin-top: 10%;
}