<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css" rel="stylesheet">
	<link href="/stylesheets/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
</head>
<body>
	<div class="top-bar headerpart">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu="">
				<li class="menu-text linav" id="logo">GetRecd</li><%if (user) { %>
				<li>
					<a class="linav" href="/logout">Log Out</a>
				</li><%} else { %>
				<li>
					<a class="linav" href="/auth/google">Login with Google</a>
				</li><%} %>
				<li>
					<a class="linav" href="/myrecs">My Recs</a>
				</li>
				<li>
					<a class="linav" href="#">Top Recs</a>
				</li>
				<li>
					<a class="linav" href="#">About</a>
				</li>
			</ul>
		</div>
		<div class="top-bar-right butinput">
			<ul class="menu navbartop">
				<li><input class="navbarsearch" placeholder="Search" type="search"></li>
				<li><button class="button tiny butstyle" type="button">Search</button></li>
			</ul>
		</div>
	</div>
</body>
</html>