<%- include('./../_partials/header') %>
<div class="about">
<p><strong>Get Rec'd</strong> an app to build essential lists of music.  If you are a big fan of Nirvana, Stan Getz or anyone else, now you can share lists of your favorite albums.  Make sure friends and family don't go out and buy that ONE horrible album and have their opinions skewed forever.  Don't spend your holidays trying to convince them that 'REALLY, Frank Zappa is amazing. You just have to listen to the right album.'</p>
</p>
<p>
Next steps:
<br>
The discogs database is HUGE. In the future, we'd would like to offer different search parameters.  such as genre, country(on the map, not Texas) or album title.  We would also like to include commenting on lists, rating lists and sharing lists with your friends.


THANKS

</p>
</div>
</body>
</html>