<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>My Recs</h1>
  <a href="/myrecs/new">Create A Rec</a>
  <a href="/myrecs/edit">Edit A Rec</a>
</body>
</html>