<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Create A Rec</h1>
  <form action="/myrecs/new" method="POST">
    <div>
      <input type="text" name="search"
              placeholder="Enter an Artist Name">
      <span class="input-group-btn">
        <button class="btn btn-success"
            type="submit">Go!</button>
      </span>
    </div>
  </form>
</body>
</html>