<%- include('./../_partials/header') %>
	<form action="/myrecs/add" method="post">
		<div class="row addform">
			<h1>Create A Rec</h1><input class="input songinput" name="title" placeholder="Name your Rec" type="text"> <input class="input songinput" name="search" placeholder="Enter an Artist Name" type="text"> <span class="input-group-btn"><button class="button butstyle" id="indexsrch" type="submit"><span class="input-group-btn">Search</span></button></span>
		</div>
	</form>
</body>
</html>